# Ignore Gradle build folder
/build/
.gradle/

# Ignore IntelliJ IDEA project files
*.iml
.idea/
*.ipr
*.iws
out/

# Ignore Eclipse project files
.project
.classpath
.settings/
bin/

# Ignore NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore VS Code project files
.vscode/

# Ignore Maven target folder
target/

# Ignore temporary files
*.log
*.tmp
*.swp
*.swo
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db